{% load staticfiles %}
<html>
    <head >
        <title>Django Girls blog</title>
    </head>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
    <body>
    <div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    {% block content %}
    {% endblock %}
    </body>
</html>